################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/cSharpEditor/bin/Debug/net10.0-windows
/cSharpEditor/obj
/cSharpEditor/bin/Release/net10.0-windows/publish/win-x86/cSharpEditor.zip
/cSharpEditor/bin/Release/net10.0-windows
/cSharpEditor/Properties/PublishProfiles
/PowerTerminal/bin/Debug/net10.0-windows
/PowerTerminal/obj
/.gitignore
/.gitignore
